{% extends 'app/layout.html' %}
{% block content %}
 <script>
 // Fetch tasks data from the server
fetch('/task-json/')
  .then(response => response.json())
  .then(tasks => {
    console.log(tasks);
    // Check if the browser supports notifications
    if (!("Notification" in window)) {
      alert("This browser does not support desktop notification");
    }

    // Let's check whether notification permissions have already been granted
    else if (Notification.permission === "granted") {
      // If it's okay let's create a notification
      notifyTasks(tasks);
    }

    // Otherwise, we need to ask the user for permission
    else if (Notification.permission !== 'denied') {
      Notification.requestPermission().then(function (permission) {
        // If the user accepts, let's create a notification
        if (permission === "granted") {
          notifyTasks(tasks);
        }
      });
    }
  });

function notifyTasks(tasks) {
  tasks.forEach(task => {
    // Check if the due date is within 2 days
    let dueDate = new Date(task.fields.due_date);
    let now = new Date();
    let diffTime = Math.abs(dueDate - now);
    let diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
    if (diffDays <= 2) {
      var notification = new Notification(`Task ${task.fields.title} is due in ${diffDays} days`);
    }
  });
}
 </script>
<div class="header-bar">
    <div>
        <h3 style="margin:0">You have <i>{{ count }}</i> incomplete task{{ count|pluralize:"s" }}.</h3>
    </div>
    {% if request.user.is_authenticated %}
    <!--<p>{{ request.user }}</p>-->
    <!--<a href="{% url 'logout' %}">Logout</a>-->
    {% else %}
    <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>
    {% endif %}
</div>
<hr>
<!-- Search form -->
<div id="search-add-wrapper">
    <form method="GET" style="margin-top: 20px; display: flex;">
        <input type="text" name='search-area' value="{{ search_input }}" placeholder="Search for your task.." />
        <input class="button" type="submit" value='Search' />
    </form>
    <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
</div>
<div class="task-items-wrapper">
    {% for date, tasks in tasks_by_date.items %}
    <h2>{{ date }}</h2>
    {% for task in tasks %}
    <div class="task-wrapper">
        {% if task.complete %}
        <!--<div class="task-title">-->
        <div class="task-complete-icon"></div>
        <i><s><a href="{% url 'task-update' task.id %}" style="float:left;">{{ task }}</a></s></i>
        <!--</div>-->
        <div class="delete-link">
            <a class="fa fa-eye" href="{% url 'task' task.id %}" style="text-decoration: none"></a>
            <a href="{% url 'task-delete' task.id %}" style="text-decoration: none">&#215;</a>
        </div>
        {% else %}
        <!--<div class="task-title">-->
        <div class="task-incomplete-icon"></div>
        <a href="{% url 'task-update' task.id %}">{{ task }}</a>
        <!--</div>-->
        <span class="task-priority">Priority: {{ task.get_priority_display }}</span>
        <span class="timer"><b>Due: </b>{{ task.due_date|timeuntil }}</span>
        <div class="delete-link">
            <a class="fa fa-eye" href="{% url 'task' task.id %}" style="text-decoration: none"></a>
            <a href="{% url 'task-delete' task.id %}" style="text-decoration: none">&#215;</a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% empty %}
    <h2>No items in list</h2>
    {% endfor %}
</div>
{% endblock content %}