{% extends 'app/layout.html' %}
{% load static %}
{% block content %}
<script src="{% static 'app/scripts/task_list.js' %}"></script>

<!-- Board View Button -->
<div class="container-fluid bg-dark text-white py-3">
    <a href="{% url 'tasks' %}" class="btn btn-dark text-white>">List View</a>
    <a href="{% url 'task-board' %}" class="btn btn-dark text-white>">Board View</a>
</div>
<div class="header-bar">
    <div>
        <h3>You have <i>{{ count }}</i> incomplete task{{ count|pluralize:"s" }}.</h3>
    </div>
</div>
<hr>
<!-- Search form -->
<div id="search-add-wrapper">
    <form method="GET" style="margin-top: 20px; display: flex;">
        <input type="text" name='search-area' value="{{ search_input }}" placeholder="Search for your task.." />
        <input class="button" type="submit" value='Search' />
    </form>
    <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
</div>
<div class="task-items-wrapper">
    {% for status, tasks in tasks_by_status.items %}
    <h2>{{ status }}</h2>
    {% for task in tasks %}
    <div class="task-wrapper">
        {% if task.complete %}
        <!-- Complete Tasks -->
        <table>
            <tr>
                <!-- Task icon -->
                <td style="text-align: left;">
                    <div class="task-complete-icon"></div>
                </td>
                <!-- Task name -->
                <td style="text-align: left; max-width: 20em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    <i><s><a href="{% url 'task-update' task.id %}">{{ task }}</a></s></i>
                </td>
            <tr>
                <td style="width: 20em;"></td>
            </tr>
            <!-- Task priority (empty space) -->
            <td style="width: 300px;"></td> <!-- td space -->
            <!-- Task due date (empty space) -->
            <td style="width: 300px;"></td> <!-- td space -->
            <!-- Task view, delete icon -->
            <td style="width: 600px; text-align: right;">
                <div class="delete-link">
                    <a class="fa fa-eye" href="{% url 'task' task.id %}" style="text-decoration: none"></a>
                    <a href="{% url 'task-delete' task.id %}" style="text-decoration: none">&#215;</a>
                </div>
            </td>
            </tr>
        </table>
        {% else %}
        <!-- Incomplete Tasks -->
        <table>
            <tr>
                <!-- Task icon -->
                <td style="text-align: left;">
                    <div class="task-incomplete-icon"></div>
                </td>
                <!-- Task name -->
                <td style="text-align: left; max-width: 20em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    <a href="{% url 'task-update' task.id %}">{{ task }}</a>
                </td>
            </tr>
            <tr>
                <td style="width: 20em;"></td>
            </tr>
            <tr>
                <!-- Task priority -->
                <td style="text-align: left; word-wrap: break-word; padding-left: 5em;">
                    <span class="task-priority">Priority: {{ task.get_priority_display }}</span>
                </td>
                <!-- Task due date -->
                <td style="width: 300px; text-align: left; word-wrap: break-word; padding-left: 0em;">
                    <span class="timer"><b>Due: </b>{{ task.due_date|timeuntil }}</span>
                </td>
                <!-- Task view, delete icon -->
                <td style="width: 600px; text-align: right;">
                    <div class="delete-link">
                        <a class="fa fa-eye" href="{% url 'task' task.id %}" style="text-decoration: none"></a>
                        <a href="{% url 'task-delete' task.id %}" style="text-decoration: none">&#215;</a>
                    </div>
                </td>
            </tr>
        </table>
        {% endif %}
    </div>
    {% endfor %}
    {% empty %}
    <h2>No items in list</h2>
    {% endfor %}
</div>
{% endblock content %}