{% extends 'app/layout.html' %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>Task: {{ task.title }}</h2>
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Priority:</strong> {{ task.priority }}</p>
            <p class="card-text"><strong>Description:</strong> {{ task.description }}</p>
            <p class="card-text"><strong>Creation Date:</strong> {{ task.create }}</p>
            <p class="card-text"><strong>Last updated:</strong> {{ task.update }}</p>
            <p class="card-text"><strong>Due Date:</strong> {{ task.due_date }}</p>
            <a href="{% url 'tasks' %}" class="btn btn-secondary">&#8592; Back</a>
        </div>
    </div>
</div>
{% endblock content %}